<div>
    <h2>Forms Validation</h2>
</div> 
<hr />
<form [formGroup]="profile" (ngSubmit)="handleSubmit()">
    <div>
        FirstName : <input type="text" formControlName="firstName" />
        <span class="text-danger"
            [hidden]="profile.controls['firstName'].valid ||profile.controls['firstName'].pristine">First name should have
            atleast 3 characters</span>
    </div>
    <div>
        LastName : <input type="text" formControlName="lastName" />
        <span class="text-danger"
            [hidden]="profile.controls['lastName'].valid ||profile.controls['lastName'].pristine">Last Name should have
            atleast 3 characters</span>
    </div>
    <div>
        <input type="submit" value="Submit" [disabled]="profile.invalid" />
    </div>
</form>
<div>
    <h4>Form Details</h4>
    <p>{{profile.value | json}}</p>
    <p>Valid form : {{profile.valid}}</p>
    <p>First Name valid : {{profile.controls['firstName'].valid}}, Pristine is valid :
        {{profile.controls['firstName'].pristine}}</p>
    <p>Last Name valid : {{profile.controls['lastName'].valid}}, Pristine is valid :
        {{profile.controls['lastName'].pristine}}</p>
</div>